src/main/resources/static/text.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="request">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:string" name="id"/>
                <xs:element type="xs:string" name="text"/>
                <xs:element type="xs:dateTime" name="dateReg"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>